{% extends 'mail/layout.html.twig' %}

{% block email_top %}
    <div>
        {{ 'email.password_reset.new_customer.body_part1'|trans }}<br>
        {{ 'email.password_reset.new_customer.body_part2'|trans }} <br>
        {{ 'email.password_reset.new_customer.body_part3_1'|trans }}
        <a href="{{ resetLink }}">
            <b>
                <u>
                    {{ 'email.password_reset.new_customer.body_part3_2'|trans }}
                </u>
            </b>
        </a> {{ 'email.password_reset.new_customer.body_part3_3'|trans }}
    </div>
{% endblock email_top %}



