{% extends 'mail/base.html.twig' %}

{% block email_top %}
    <div> {{ 'email.password_reset.new_password.body_part1'|trans }} <br>
        {{ 'email.password_reset.new_password.body_part2'|trans }}<br>
        {{ 'email.password_reset.new_password.body_part3'|trans }}
               <a href="{{ resetLink }}">
                   {{ resetLink }}
               </a>.
        <br>
        <br>
        {{ 'email.password_reset.new_password.body_part4'|trans }}
        <br>
        <br>
        {{ 'email.password_reset.new_password.body_part5'|trans }}
       </div>
{% endblock email_top %}



