<p>
    {{ 'email.product_import_statistic.body'|trans({})|raw|nl2br }}
</p>

{% if statistic.total is defined %}
    {% if statistic.errors > 0 %}
        <p>
            {{ 'email.product_import_statistic.import_start_with_error'|trans({
                '%total_lignes%': statistic['total'],
                '%errors%': statistic['errors']
            })|raw|nl2br }}
        </p>
    {% else %}
        <p>
            {{ 'email.product_import_statistic.import_start_without_errors'|trans({
                '%total_lignes%': statistic['total'],
            })|raw|nl2br }}
        </p>
    {% endif %}

{% else %}
    <p>
        {{ 'email.product_import_statistic.import_not_start'|trans({})|raw|nl2br }}
    </p>
    {% for error in statistic['errors'] %}
        <p>
            {{ 'email.product_import_statistic.error_segment'|trans({
                '%error%': error
            })|raw|nl2br }}
        </p>
    {% endfor %}
{% endif %}

<p>
    {{ 'email.product_import_statistic.ending'|trans({})|raw|nl2br }}
</p>


